* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #377e9a;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.main {
  background-color: #f5f5f5;
  background-image: linear-gradient(90deg, rgba(245, 239, 159, 0.7), rgba(178, 223, 74, 0.5));
}

.container {
  max-width: 1000px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav {
  padding: 15px 0;
  display: flex;
}
.nav .logo {
  align-self: center;
  flex: 1;
  font-size: 1.5rem;
  font-weight: 500;
}
.nav .logo__highlight {
  color: #377e9a;
}
.nav .navbar__item {
  padding: 16px;
  text-decoration: none;
  color: #49515d;
  font-size: 15px;
  opacity: 0.6;
  display: inline-block;
  transition: opacity 0.3s ease-in-out;
}
.nav .navbar__item:last-child {
  padding-right: 0;
}
.nav .navbar__item:hover {
  opacity: 1;
}
.nav .navbar__item:hover::after {
  width: 24px;
}
.nav .navbar__item::after {
  content: "";
  width: 0;
  border-bottom: 3px solid #377e9a;
  margin: auto;
  margin-top: 4px;
  display: block;
  transition: width 0.3s ease-in-out;
}
.nav .navbar__item--active,
.nav .navbar__item:hover {
  opacity: 1;
}

.page {
  border-radius: 16px;
  background: white;
  transition: visibility 0.3s, opacity 0.3s ease-in-out;
  box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.1);
}

.page--active {
  display: block;
  position: relative;
  visibility: visible;
  opacity: 1;
}

.avatar__crop {
  width: 250px;
  height: 250px;
  overflow: hidden;
  margin: 24px 0 -24px;
  border-radius: 4px;
  border: 3px solid white;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}
.avatar__crop:hover .homepage__avatar {
  transform: translateY(-255px);
}
.avatar__crop:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.6);
}

.homepage__avatar {
  width: 300px;
  height: 250px;
  object-fit: cover;
  transition: transform 0.3s ease-in;
}

.page__header {
  padding: 32px 64px;
  color: white;
  background: #377e9a;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.page__title {
  margin: 0;
  text-align: center;
  font-size: 44px;
}

.page__content {
  padding: 32px 64px;
  background-color: white;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.homepage__header {
  display: flex;
  padding-bottom: 0;
  align-items: center;
}

.homepage__title {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage__name {
  margin: 0;
  font-size: 3rem;
  font-weight: 500;
}

.homepage__position {
  font-size: 1.25rem;
  margin-top: 8px;
}

.homepage__socialMedias {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.homepage__socialMediaItem {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  width: 16px;
  height: 16px;
  margin: 0 4px;
  color: rgba(0, 0, 0, 0.5);
  background-color: white;
  padding: 8px;
  border-radius: 50%;
}

.fab:hover {
  color: rgb(243, 194, 34);
  cursor: pointer;
}

.homepage__content {
  padding-top: 56px;
  display: flex;
  justify-content: space-between;
}
.homepage__content > div {
  flex-basis: calc(50% - 32px);
}

.homepage__aboutMeHeader {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: bold;
}
.homepage__aboutMeHeader span.homepage__aboutMeHeaderHighlight {
  color: #377e9a;
}

.homepage__aboutMeContent {
  line-height: 1.75;
}

.homepage__contact td {
  padding: 4px 0;
}
.homepage__contact td:first-child {
  padding-right: 42px;
}
.homepage__contact td:last-child {
  color: #999;
}

.footer {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  margin: 8px 0;
}

.resumePage__sub {
  display: flex;
  justify-content: space-between;
}
.resumePage__sub > div {
  flex-basis: calc(50% - 32px);
}

.resumeSub__title {
  margin-top: 0;
}

.timelines {
  border-left: 2px solid #dadada;
  padding: 8px 0 8px 48px;
}

.timelines > div {
  margin-top: 16px;
  margin-bottom: 16px;
}

.timeline {
  position: relative;
  padding: 16px 20px;
  border-radius: 4px;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
  border-left: 2px solid #377e98;
  margin-left: -5px;
}

.timeline::before {
  content: "";
  width: 48px;
  border-bottom: 2px solid #377e98;
  position: absolute;
  left: -48px;
  top: 8px;
}

.timeline::after {
  content: "";
  position: absolute;
  left: -52px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 2px solid #377e98;
  top: 2px;
  background: white;
}

.experience__title {
  margin: 0 0 8px;
}

.experience__meta {
  font-size: 0.8rem;
  margin-bottom: 8px;
}

.experience__year {
  color: #377e98;
}

.experience__divider {
  border-right: 1px solid #dadada;
}

.experience__company {
  color: #49515d;
}

.experience__description {
  line-height: 1.75;
}

.resumePage__sub + .resumePage__sub {
  margin-top: 32px;
}

.resumeSub__titleHighlight {
  color: #377e98;
}

.skill {
  margin: 16px 0;
}

.skill__title {
  margin: 0 0 8px;
  font-size: 0.8rem;
}

.skill__level {
  position: relative;
  height: 16px;
  background-color: rgba(0, 0, 0, 0.1);
}

.skill__level:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #377e98;
  width: 0;
  transition: width 0.3s ease;
}

.skill__level--webDesign:hover:after {
  width: 80%;
}

.skill__level--graphicDesign:hover:after {
  width: 70%;
}

.skill__level--printDesign:hover:after {
  width: 75%;
}

.skill__level--htmlDesign:hover:after {
  width: 90%;
}

.skill__level--cssDesign:hover:after {
  width: 85%;
}

.skill__level--jsDesign:hover:after {
  width: 70%;
}

/*# sourceMappingURL=style.css.map */
